RewriteEngine On

RewriteRule ^$            views/index.php [NC,L]
RewriteRule ^login$       views/login.php [NC,L]
RewriteRule ^admin$       views/admin.php [NC,L]
RewriteRule ^logout$      views/logout.php [NC,L]






